{% extends "base.html" %}
{% load static %}
{% block title %}Welcome To my Django Project{% endblock  %}
{% block style %}
<style>
#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
    width: 356px !important;
    padding: 50px !important;
}
</style>
{% endblock  %}
        {% block profile %}
		 {% if request.user.is_authenticated %} 
                        <div class="fh5co-bio">
        <figure>
				<img src="{{auth.photo.url}}" alt="" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{auth.name.get_full_name}}</h2>
			<p>{{auth.details}}</p>
			<ul class="fh5co-social">
				<li><a href="{{auth.tw_url}}"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
        </div>
		{% endif %}
			{% endblock  %}

			
{% block content %}
	<div class="container-fluid">

		<div class="row fh5co-post-entry">
		<h1 class="container"> Author:  {{ auth.name.get_full_name }}</h1>
			 {% for p in post %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href=" {% url 'single_post' id=p.id %} "><img src="{{p.image.url}}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category.name }}</a></span>
				<h2 class="fh5co-article-title"><a href=" {% url 'single_post' id=p.id %} ">{{ p.title}}</a></h2>
				<span class="fh5co-meta fh5co-date">{{ p.created_at}}</span>
			</article>
			{% endfor %}
			<div class="clearfix visible-xs-block"></div>
        </div>
	</div>
{% endblock  %}